:root {
    background-color: #6CB56A;
}

.nav {
    text-align: right;
    padding: 0.5cm;
}

.topnav a {
    color: black;
    font-family: roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    width: 87px;
    height: 22px;
}

.topnav a:hover {
    color: #6CB56A;
}

span {
    padding: 0.5cm;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}

.topnav {
    float: right;
    position: relative;
    width: 419px;
    height: 38px;
    margin: 30px;
    padding: 25px;
    text-align: right;
}

body {
    margin: 50px 200px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    font-size: 24px;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 50px;
}

.landing {
    background-image: url("https://res.cloudinary.com/dfszquucy/image/upload/v1569253594/enviroment_ppelmq.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
}

.panel {
    background-color: whitesmoke;
    background-position: center;
    background-size: cover;
    height: 300px;
}

button {
    background-color: #6CB56A;
    color: whitesmoke;
    padding: 3px;
    margin: 0.3cm;
    font-style: normal;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #6CB56A;
    margin-left: 0.9cm;
    width: 120px;
    height: 40px;
    left: 120px;
    top: 10px;
}

.btn {
    background-color: white;
    color: #6CB56A;
    padding: 3px;
    margin: 0.2cm;
    font-style: normal;
    margin-right: 0.5cm;
    border-radius: 5px;
    border: 1px solid #6CB56A;
    border-color: #6CB56A;
    font-size: 12px;
}

/*  */
/* sas section styles */
/*  */

.parent-div {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.child-div {
    margin-top: 1%;
    width: 90%;
    height: auto;
    display: inline-block;
    padding: 10px 50px;
}

#sas-section .form-inline {
    /* display: flex; */
    flex-flow: row wrap;
    align-items: center;
}

.break {
    flex-basis: 100%;
    height: 0;
}

#add-more {
    border: 1px solid #ddd;
    cursor: pointer;
    padding: 5px;
    margin-left: -70%;
}

#sas-section .form-inline label {
    margin: 5px 10px 5px 0;
}

#sas-section .form-inline input, select {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

#sas-section select {
    cursor: pointer;
}

#sas-section button {
    padding: 15px 40px;
    border: 1px solid #455616;
    background-color: #fff;
    color: #455616;
    cursor: pointer;
}

#sas-section button:hover {
    background-color: #7a9435;
    color: #fff;
}

#sas-section .row * {
    box-sizing: border-box;
}

#sas-section .row {
    margin-top: 3vh;
}

#sas-section .column {
    float: left;
    width: 50%;
}

#sas-section .row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 800px) {
    #sas-section .form-inline input {
        margin: 10px 0;
    }
    #sas-section .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}
