@media (max-width: 1023px) {
    .mid-container {
        flex-direction: column;
    }
    
    .mid-logo {
        margin-top: 50px;
    }
}

@media (max-width: 1100px) {
    .mid-container {
        flex-direction: column;
    }

    .mid-logo {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .text {
        position: relative;
        font-size: 35px;
        top: 0px;
        left: 0px;
    }
    
    .text1 {
        position: relative;
        font-size: 30px;
        top: 0px;
        left: 0px;
        font-weight: bold;
        color: lightgreen;
    }

    ul {
        flex-direction: column;
    }

    li:first-child {
        margin-bottom: 10px;
    }
}