<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

    <title>Helios Financial App Tracker</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- <link rel='stylesheet' type='text/css' href='/css/responsive.css'> -->
    <link rel='stylesheet' type='text/css' href='/css/style.css'>
    <link rel='stylesheet' type='text/css' href='/css/materialize.min.css'>

</head>
<body>
        <div class="navbar-fixed">
                <nav class="teal darken-1">
                    <div class="container">
                        <div class="nav-wrapper">
                            <a href="/" class="brand-logo">Hi-Tracker</a>
                            <a href="#" data-activates="mobile-nav" class="button-collapse">
                                <i class="fas fa-hamburger"></i>
                            </a>
                            <ul class="right hide-on-med-and-down">
                                
                                <li>
                                    <a href="/faq">FAQ</a>
                                </li>
                                <li>
                                     <a href="#" data-activates="side-nav" class="button-collapse show-on-large right">
                                        <i class="fas fa-user-circle fa-2x "></i>
                                    </a>
                                </li>

                                <% if(user) { %>
                                <li class=" active">
                                    <a href="/log-out">Log out</a>
                                </li>
                                <% } %>

                            </ul>
                        </div>
                        
                    </div>
                </nav>
            </div>
            <ul class="side-nav" id="mobile-nav">
                    <div class="user-view">
                            <div class="background">
                              <img id="user-background" src="img/ocean.jpg" class="responsive-img">
                            </div>
                            <a href="#!">
                              <img id="user-avatar" src="img/person1.jpg" alt="" class="circle">
                            </a>
                            <a href="#!">
                                
                              <span id="username" class="name white-text">Name: <%= user.name %></span>
                            </a>
                            <a href="#!">
                               
                              <span id="user-email" class="email white-text">Email: <%= user.email %></span>
                            </a>
                          </div>
                <li>
                    <a href="/faq">FAQ</a>
                </li>
               
                <% if(user) { %>
                <li class=" active">
                    <a href="/log-out">Log out</a>
                </li>
                <% } %>
            </ul>
            <ul class="side-nav" id="side-nav">
                    <div class="user-view">
                            <div class="background">
                              <img id="user-background" src="img/ocean.jpg" class="responsive-img">
                            </div>
                            <a href="#!">
                              <img id="user-avatar" src="img/person1.jpg" alt="" class="circle">
                            </a>
                            <a href="#!">
                                
                              <span id="username" class="name white-text">Name: <%= user.name %></span>
                            </a>
                            <a href="#!">
                               
                              <span id="user-email" class="email white-text">Email: <%= user.email %></span>
                            </a>
                          </div>
                <li>
                    <a href="/faq">FAQ</a>
                </li>
               
                <% if(user) { %>
                <li class=" active">
                    <a href="/log-out">Log out</a>
                </li>
                <% } %>
            </ul>
            <!--END OF NAVBAR-->
            
            <section class="container section app-container mt-5">
                    <div class="center">

                            <h5 class="center teal-text text-darken-2">Quick Summary</h5>
                        </div>
                    <div class="row mb-3 text-white">
                        
                            <!-- Top Report Start -->
                            <div class="col s12 m3">
                                <div class="small-box bg-success shadow-sm">
                                    <div class="inner">
                                        Total Expenses: ₦<%= tota == "" ? '0':  tota[0].amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %>
                                    </div>
                                </div>
                            </div>
                            <!-- Top Report End -->
                            <!-- Top Report Start -->
                            <div class="col s12 m3">
                    
                                <div class="small-box bg-danger shadow-sm">
                                    <div class="inner">
                                        This Year: ₦<%= year == "" ? '0':  year[0].amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %>
                                    </div>

                                </div>
                            </div>
                            <!-- Top Report End -->

                            <!-- Top Report Start -->
                            <div class="col s12 m3">
                    
                                <div class="small-box bg-purple shadow-sm">
                                    <div class="inner">
                                        This Month: ₦<%= month == "" ? '0':  month[0].amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %>
                                    </div>

                                </div>
                            </div>
                            <!-- Top Report End -->

                            <!-- Top Report Start -->
                            <div class="col s12 m3">
                    
                                <div class="small-box bg-warning shadow-sm">
                                    <div class="inner">
                                        This week: ₦<%= week == "" ? '0':  week[0].amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %>
                                    </div>

                                </div>
                            </div>
                            <!-- Top Report End -->
                        </div>
                    <div class="row">
                            <div class="col-12">
                                    <div class="table-responsive bg-white shadow-sm">
                                            <% if(success_msg != ""){ %>
                                                <div class="alert alert-primary shadow-sm mb-3">
                                                    <%= success_msg %>
                                                </div>
                                                <% } %>
                                                <% if(error_msg != ""){ %>
                                                <div class="alert alert-danger shadow-sm mb-3">
                                                    <%= error_msg %>
                                                </div>
                                                <% } %>
                                                <% if(error != ""){ %>
                                                <div class="alert alert-danger shadow-sm mb-3">
                                                    <%= error %>
                                                </div>
                                                <% } %>
                                        <% if(userExpenses == "") { %>
                                        <div class="alert alert-primary">No Record for now</div>
                                        <% } %>
                                        <table class="table bordered responsive-table highlight">
                                            <h5 class="center">Expenses Table</h5>
                                            <thead class="grey lighten-5">
                                                <tr>
                                                    <div class="divider"></div>
                                                    <th>Items</th>
                                                    <th>Description</th>
                                                    <th>Amount</th>
                                                    <th>Author</th>
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var item of userExpenses) { %>
                                                <tr>
                                                    <td><%= item.items %></td>
                                                    <td><%= item.description %></td>
                                                    <td>₦<%= item.amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                                                    <td><%= item.user.email %></td>
                                                    <td><%= item.createdAt.toDateString() %></td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                            <div class="divider"></div>
                    </div>
                        <form action="/expenses/create" method="POST" style="padding: 0 10px;" class="grey lighten-5">
                            <h5 class="center">Add Item</h5>
                            <div class="input-field">
                                <input type="text" name="items" id="items" required>
                                <label for="items">Item</label>
                            </div>
                            <div class="input-field">
                                <input type="number" name="amount" id="amount" required>
                                <label for="amount">Amount</label>
                            </div>
                            <div class="input-field">
                                <textarea name="description" id="description" class="materialize-textarea" required></textarea>
                                <label for="description">Description</label>
                            </div>
                            <div class="input-field center">
                                <button type="submit" class="btn">Submit</button>
                            </div>
                        </form>
                <!-- <form name="cart">
                    <table name="cart" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Item Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr name="line_items">
                                <td><button name="remove" class="btn btn-danger btn-sm">Remove</button></td>
                                <td><input type="text" class="form-control form-control-sm" required /></td>
                                <td><textarea rows="3"></textarea></td>
                                <td><input type="text" name="price" value="0.00" class="form-control form-control-sm" /></td>
                                <td><input type="text" name="item_total" jAutocalc="{price}" class="form-control form-control-sm" required /></td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                                <td>Subtotal</td>
                                <td>&nbsp;</td>
                                <td><input type="text" name="sub_total" jAutocalc="SUM({item_total})" class="form-control form-control-sm" /></td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                                <td>Tax</td>
                                <td>
                                    <select name="tax" class="form-control">
                                        <option value=".06"> CT Tax</option>
                                        <option value=".00">Tax Free</option>
                                    </select>
                                </td>
                                <td><input type="text" name="tax_total" jAutocalc="{sub_total} * {tax}" class="form-control form-control-sm" /></td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                                <td>Total</td>
                                <td>&nbsp;</td>
                                <td><input type="text" name="grand_total" jAutocalc="{sub_total} + {tax_total}" class="form-control form-control-sm" /></td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <button name="add" class="btn btn-primary">Add Row</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form> -->
            </section>
        <footer class="section teal darken-2 white-text center">
                <p class="flow-text">Team Helios &copy; 2019</p>
            </footer>
    </body>
    <script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        // Init Side nav
        $('.button-collapse').sideNav();

        // Init Slider
        $('.slider').slider({
            indicators: false,
            height: 500,
            transition: 500,
            interval: 4000
        });
        // Init Scrollspy
        $('.scrollspy').scrollSpy();

       const userIcon = document.querySelector('#user-icon');
       userIcon.addEventListener('click', ()=>{
           console.log('ive been clicled');
       })

    });
</script>
</html>
