<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <title>Helios Hi-Tracker</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel='stylesheet' type='text/css' href='/css/materialize.min.css'>
</head>

<body id="home" class="scrollspy">
    <div class="navbar-fixed">
        <nav class="teal darken-1">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="/home" class="brand-logo">Hi-Tracker</a>
                    <a href="#" data-activates="mobile-nav" class="button-collapse">
                        <i class="fas fa-hamburger"></i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="/faq">FAQ</a>
                        </li>
                        <li>
                            <a href="#login">Login</a>
                        </li>
                        <li>
                            <a href="/signup">Sign Up</a>
                        </li>
                        <% if(user) { %>
                        <li class="nav-item active">
                            <a class="nav-link" href="/log-out">Log out</a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <ul class="side-nav" id="mobile-nav">
        <li>
            <a href="#home">Home</a>
        </li>
        <li>
            <a href="#about">About</a>
        </li>
        <li>
            <a href="/faq">FAQ</a>
        </li>
        <li>
            <a href="#login">Login</a>
        </li>
        <li>
                <a href="/signup">Sign Up</a>
            </li>
        <% if(user) { %>
        <li class="nav-item active">
            <a class="nav-link" href="/log-out">Log out</a>
        </li>
        <% } %>
    </ul>
    <!--END OF NAVBAR-->

    <!-- Section: Slider -->
    <section class="slider">
        <ul class="slides">
            <li>
                <img src="/img/img2.jpg" alt="">
                <div class="caption center-align">
                    <h2>Keep Track Of Your Expenses</h2>
                    <h5 class="light white-text text-darken-3 hide-on-small-only">Don't know where your money is
                        going?.<br>
                        Helios Tracker will change that for you!</h5>
                    <a href="#about" style="margin-top: 30px;" class="btn btn-large">Learn More</a>
                </div>
            </li>
            <li>
                <img src="/img/img1.jpg" alt="">
                <div class="caption left-align">
                    <h2>Track Your Income Easily</h2>
                    <h5 class="light grey-text text-lighten-3 hide-on-small-only">Helios Tracker will organise and keep
                        track of your income</h5>
                    <a href="#about" style="margin-top: 30px;" class="btn btn-large">Learn More</a>
                </div>
            </li>
            <li>
                <img src="/img/126.jpg" alt="">
                <div class="caption right-align">
                    <h2 class="black-text">Group & Individual Benefits</h2>
                    <h5 class="light grey-text text-lighten-3 hide-on-small-only">Anyone and everyone can use Helios
                        Tracker</h5>
                    <a href="#about" style="margin-top: 30px;" class="btn btn-large">Learn More</a>
                </div>
            </li>
        </ul>
    </section>

    <!-- Section: about with boxes Boxes -->
    <section id="about" class="scrollspy section section-icons grey lighten-4">
        <div class="container">
            <div class="row center">
                <div class="col s12 m4">
                    <div class="card-panel" style="height: 320px;">
                        <i class="fas fa-money-check-alt medium teal-text"></i>
                        <h4>Free To Use</h4>
                        <p>Hi-Tracker is made by TeamHelios and is free to use by anyone. No ads, No hidden charges.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card-panel" style="height: 320px;">
                        <i class="fas fa-user-shield medium teal-text"></i>
                        <h4>Secure And Private</h4>
                        <p>Hi-Tracker is completely private, secure, and safe to use.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card-panel" style="height: 320px;">
                        <i class="fas fa-edit medium teal-text"></i>
                        <h4>Easy To Use</h4>
                        <p>Hi-tracker is very easy to use because of its simple and unique user interface.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div>
                        <h4 class="center white-text teal darken-1">About Hi-Tracker</h4>
                        <p style="font-size: 1.2rem">
                            Launched in 2019 by Team Helios, Hi-Tracker is a simple finance tracker that helps you in
                            monitoring and tracking all your expenses in a daily,monthly and yearly basis.</p>
                        <p style="font-size: 1.2rem">The real reason you track your expenses is to create financial
                            awareness. If you don’t know
                            where your money goes or how you spend it, you won’t know what habits you can change in
                            order to make your money work for you, thus in view of these Team Helios came up with this
                            idea to help you keep track of your finances.</p>
                    </div>

                    <div>
                        <h4 class="center white-text teal darken-1">About Team Helios</h4>
                        <p style="font-size: 1.2rem">
                            <span class="teal-text text-darken-1">Team Helios</span> is a group of like minded young
                            Nigerians passionate about creating positive
                            change in the country and particularly dedicated to helping solve real life problems.
                        </p>

                        <p style="font-size: 1.2rem">With Hi-Tracker, our mission is to help individuals solve complex
                            financial issues and make life easier and better for
                            everyone.</p>
                        <blockquote class="flow-text grey-text text-lighten-1"><em>Tracking Expenses Creates Financial
                                Awareness</em></blockquote>
                    </div>

                    <div>
                        <h4 class="center white-text teal darken-1">Our Work</h4>
                        <ul class="collection with-header">
                            <li class="collection-header">We are here to help you:</li>
                            <li class="collection-item">Record every purchase, regardless of the amount spent</li>
                            <li class="collection-item">Stick to Your Budget</li>
                            <li class="collection-item">Helps Identify Spending Issues</li>
                            <li class="collection-item">Know When You Overspend</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section scrollspy" id="login">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <p style="font-size: 1.3rem">Can’t keep track of your purchases?</p>
                    <p>
                        Worry no more! With our finance tracker
                        you can track your weekly, monthly, and
                        yearly purchases!.</p>
                    <p>Use the form to Log in or Register a new account to begin using Hi-Tracker</p>
                </div>
                <div class="col s12 m6">
                    <div class="card-panel grey lighten-3">
                        <form action="/login" method="POST">
                            <% if(success_msg != ""){ %>
                            <div class="green lighten-3">
                                <%= success_msg %>
                            </div>
                            <% } %>
                            <% if(error_msg != ""){ %>
                            <div class="red lighten-3">
                                <%= error_msg %>
                            </div>
                            <% } %>
                            <% if(error != ""){ %>
                            <div class="red lighten-3">
                                <%= error %>
                            </div>
                            <% } %>

                            <h5>Login</h5>
                            <div class="input-field">
                                <input type="email" id="email" name="email" required>
                                <label for="email">Email</label>
                            </div>

                            <div class="input-field">
                                <input type="password" id="1name" name="password" required>
                                <label for="name">Name</label>
                            </div>

                            <button type="submit" value="Submit" class="btn">Login</button>
                    </div>
                    </form>

                    <div class="center">
                        <a href="/signup" class="black-text">Not a member? <span class="teal-text">Sign up</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="section teal darken-2 white-text center">
        <p class="flow-text">Team Helios &copy; 2019</p>
    </footer>
</body>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        // Init Side nav
        $('.button-collapse').sideNav();

        // Init Slider
        $('.slider').slider({
            indicators: false,
            height: 500,
            transition: 500,
            interval: 4000
        });
        // Init Scrollspy
        $('.scrollspy').scrollSpy();

    });
</script>

</html>