<!DOCTYPE html>
<html>
        <head>
                <meta charset='utf-8'>
                <meta http-equiv='X-UA-Compatible' content='IE=edge'>
                <meta name='viewport' content='width=device-width, initial-scale=1'>
                <link rel="icon" href="/img/favicon.ico">
                <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Fugaz+One&display=swap" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
            
                <title>Sign up | Hi-Tracker</title>
                <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
                <link rel='stylesheet' type='text/css' href='/css/materialize.min.css'>
            </head>
    </head>
    <body>
            <div class="navbar-fixed">
                    <nav class="teal darken-1">
                        <div class="container">
                            <div class="nav-wrapper">
                                <a href="/home" class="brand-logo">Hi-Tracker</a>
                                <a href="#" data-activates="mobile-nav" class="button-collapse">
                                    <i class="fas fa-hamburger"></i>
                                </a>
                                <ul class="right hide-on-med-and-down">
                                    <li>
                                        <a href="/home">Home</a>
                                    </li>
                                    <li>
                                        <a href="/faq">FAQ</a>
                                    </li>
                                    <% if(user) { %>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/log-out">Log out</a>
                                    </li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <ul class="side-nav" id="mobile-nav">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/faq">FAQ</a>
                    </li>
                    <% if(user) { %>
                    <li class="nav-item active">
                        <a class="nav-link" href="/log-out">Log out</a>
                    </li>
                    <% } %>
                </ul>
            
            
            <section class="section signup-container center">
                <div class="container">
                    <div class="row">
                        <!-- <div class="col s12 m6">
                                <div class="card" style="height: 400px">
                                        <div class="card-image">
                                          <img src="img/man.png">
                                        </div>
                                        <div class="card-content">
                                          <h4><span class="teal-text text-darken-2">Join our platform today!</span> <br>And never worry about loosing track of your spendings!</h4>
                                        </div>
                                      </div> 
                        </div> -->
                        <div class="col s12 m12 container">
                                <div class="signup-form-container signup-item" id="signup-form">
                                    <div class="form-header white-text" 
                                    style="height: 100px;
                                    background-image: url(img/ocean.jpg);
                                    background-size: cover;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    padding-top: 10px">
                                            <p><span class="flow-text">Join our platform today!</span> <br>And never worry about loosing track of your spendings!</p>
                                    </div>
                                        <form class="signup-form" action="/register" method="POST">
                                            <% if(success_msg != ""){ %>
                                                <div class="alert alert-primary shadow-sm mb-3">
                                                    <%= success_msg %>
                                                </div>
                                                <% } %>
                                                <% if(error_msg != ""){ %>
                                                <div class="alert alert-danger shadow-sm mb-3">
                                                    <%= error_msg %>
                                                </div>
                                                <% } %>
                                                <% if(error != ""){ %>
                                                <div class="alert alert-danger shadow-sm mb-3">
                                                    <%= error %>
                                                </div>
                                                <% } %>
                                            <input type="text" placeholder="Full Name" name ="name">
                                            <input type="email" placeholder="Email Address" name="email" required>
                                            <input type="password" placeholder="Password" name="password" required>
                                            <input type="password" placeholder="Confirm Password" name="password2">
                                            <button class="btn btn-success">Register</button>
                                        </form>
                                    </div>
                        </div>
                    </div>
                </div>              
            </section>

        <footer style="position: fixed; bottom:0; width:100%" class="section teal darken-2 white-text center">
                <p class="flow-text">Team Helios &copy; 2019</p>
            </footer>
        </body>
        <script src="/js/jquery-3.4.1.min.js"></script>
        <script src="/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                // Init Side nav
                $('.button-collapse').sideNav();
        
                // Init Slider
                $('.slider').slider({
                    indicators: false,
                    height: 500,
                    transition: 500,
                    interval: 4000
                });
                // Init Scrollspy
                $('.scrollspy').scrollSpy();
        
            });
        </script>
