
:root {
    background-color: #12e053;

}

.nav {
    
}

body {
   margin: 100px 80px;   
 }

 #header {
     font-size: 48px;
     text-align: center;
     color: white;
     margin-bottom: 50px;
 }

 .landing {
    background-image: url("https://res.cloudinary.com/dfszquucy/image/upload/v1569253594/enviroment_ppelmq.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
    box-shadow: 0 0 5px 2px #282a2d;
 }
.panel {
    background-color: whitesmoke;
    background-position: center;
    background-size: cover;
    height: 400px;
    box-shadow: 0 0 5px 2px #282a2d;
}

